<html>
    <head>
        
    <script type="text/javascript" src="<?php echo $model['assets_path'] ?>/js/jquery-3.3.1.min.js"></script>

    <script type="text/javascript" src="<?php echo $model['assets_path'] ?>/js/jquery.steps.min.js"></script>
    </head>
    <body>
        <div id="test">
                <h3>Keyboard</h3>
                <section>
                    <p>What is needed to transform it to a tabs component? Not much. Just override some properties and done.</p>
                    <pre class="prettyprint linenums">
           
            </pre>
                </section>
                <h3>Other demos</h3>
                <section>
                    <p>Scroll down or up to see the other demos.</p>
                </section>
                <h3>Documentation</h3>
                <section>
                    <p>For more information <a href="https://github.com/rstaib/jquery-steps/wiki">check out the documentation</a>!</p>
                </section>
                <h3>Download</h3>
                <section>
                    <p>See on getting started!</p>
                </section>
            </div>
        </div>
        </div>
        <script>
        $(document).ready(function(){
            $('#test').steps({
    headerTag: "h3",
    bodyTag: "section",
    transitionEffect: "slideLeft",
    enableFinishButton: false,
    enablePagination: false,
    enableAllSteps: true,
    titleTemplate: "#title#",
    cssClass: "tabcontrol"
});
        })</script>
    </body>
</html>