
<html>
 
    <head>
        <link rel="stylesheet" type="text/css" href='/css/clear.css' />
        <link rel="stylesheet" type="text/css" href='/css/session.css' />
        <link rel="stylesheet" type="text/css" href='/css/font-awesome.min.css' />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
    
        <script type="text/javascript" src="/js/jquery.steps.min.js"></script>
        <script type="text/javascript" src="/js/templates.js"></script>
    </head>
    
    <body>
        <div class="left-sidebar">
            <div class="logo-holder">
                <a href="/QuickTransfer">
                    <img src="/img/logo_qt.png" alt="">
                </a>
            </div>
            <div class="toggle-holder">
                <span><i class="fa fa-plus"></i></span>
            </div>
            <div class="social-holder">
                <div class="social-list">
                    <a id="signout" title="Leave the asession"><i class="fa fa-chevron-circle-left" style="font-size:32px;"></i></a>
                    <a href="#"><i class="fa fa-file"></i></a>
                    <a href="#"><i class="fa fa-clipboard"></i></a>
                    <a href="#"><i class="fa fa-history"></i></a>
                    <a id="join-request" title="Show the join code" style="cursor: pointer;"><i class="fa fa-share"></i></a>
                </div>
            </div>
            <div class="fixed countdown" style="position:relative;width:100%; text-align:center;"></div>
        </div>
        </div>
    
        <div class="main-panel">
            <div class="section-header text-center">
                <h2 class="title" style="text-align:center;">Anonymous Session</h2>
            </div>
            <style>
    
            </style>
            <div class="row">
                <div class="path">
                    <a>./</a>
    
                    <a>Folder1</a>
                    <a>></a>
                    <a>Indepth_Folder</a>
                </div>
                <div class="show-style">
                    <span style="margin-top:3px;"> <i class="fa fa-list"></i>
                    </span>
                    <span style="display:none;"> <i class="fa fa-th-large"></i> </span>
                </div>
    
                <div class="search">
                    <input type="text" placeholder="Shearch it here">
                </div>
            </div>
            <div class="card-view">
               
    
    
    
            </div>
    
        </div>
        <div class="modal-bg" style="display: none;"></div>
        <div class="modal-wrapper" style="display: none;">
    
            <div class="modal">
    
                <h3>Clipboard</h3>
                <section>
                    <div class="cnt">
                        <div class="modal-row" style="margin-top:7px; ">
                            <label style="color: black;">Title</label>
                            <input type="text" name = "title" style="display: block; width:100%; opacity: 1;">
                        </div>
                        <div class="modal-row checkboxes">
                            <label style="color: black;">Preview</label>
                            <input type="checkbox" name = "preview" style="margin-top:5px;height: auto;">
                        </div>
                        <div class="modal-row">
                            <textarea placeholder="Enter text content here"
                                style="width: 100%; height:230px; resize: none;" name="content"></textarea>
                        </div>
                        <input type="hidden" value="0" name="type">
                        <input type="button" value="Done" class="done-btn-fm">
                        <input type="button" value="Cancel" style="left: 24px; right:unset;" class="cancel-btn-fm">
                    </div>
                </section>
    
                <h3>File</h3>
                <section>
                    <div class="cnt" style="">
                        <div class="modal-row" style="margin-top:7px; ">
                            <label style="color: black;">Title</label>
                            <input type="text" name = "title" style="display: block; width:100%; opacity: 1;">
                        </div>
                        <div class="modal-row">
                            <label style="color: black;">File</label>
                            <input type="file" class="upfile" name="file" style="display: block; width:100%; opacity: 1; height: auto;padding:10px;">
                        </div>
                        <input type="hidden" value="1" name="type">
                        <input type="button" value="Upload" class="upload-btn-fm">
                        <input type="button" value="Cancel" style="left: 24px; right:unset;" class="cancel-btn-fm">
                    
                    </div>
                </section>
                <h3>Large File</h3>
                <section>
                    <div class="cnt">
                    </div>
                </section>
            </div>
        </div>
        
    </body>
    <script>
        /*function createContentCard(payload){
            switch(payload.type){
                case "Clipboard":{
                    window.createClipboardCard(payload.cid,payload.title,payload.content, $('.card-view')[0]);
                }break;
            }
        }
        */

        window.assignHandlers = function(card){

        }

    
        $(document).ready(function (ev) {
            $('.cancel-btn-fm').on('click', function (ev) {
                $('.modal-wrapper').removeClass("exposed");
                $('.modal-bg').removeClass("exposed");
            });
            $('.toggle-holder').on('click',function(){
                $('.modal-wrapper').addClass("exposed");
                $('.modal-bg').addClass("exposed");
            });
            $('#join-request').on('click',async function(){
                $('body').addClass('busy');
               try{ var result = await CodeRequest(); }catch(e){} 
               $('body').removeClass('busy');
               console.log("The join code is "+result);
               alert("The join code is "+result);
            });
            $('#signout').on('click',async function(ev){
               $('body').addClass('busy');
               try{ var result = await SignoutRequest(); }catch(e){} 
               $('body').removeClass('busy');
               if(result.success){
                   alert("Signed out successfully \nCome back anytime using the code "+result.joincode);
                   window.location.reload();
               }
               // toast here
            });
            
        });
    
        $('.modal').steps({
            headerTag: "h3",
            bodyTag: "section",
            enableFinishButton: false,
            enablePagination: false,
            enableAllSteps: true,
            titleTemplate: "#title#",
            cssClass: "tabcontrol"
        });
        
    
        $('.upload-btn-fm').on('click',function(ev){
            var inputs =  $(this).closest('section').find('input[type="text"],input[type="checkbox"],input[type="file"],textarea');
            var unencodedPayload = {};
            var payload = new FormData();
           Array.from(inputs).forEach( input => {
                payload.append(input.name, input.type == "checkbox"?input.checked:input.type=="file"?input.files[0]:encodeURIComponent( input.value));
                unencodedPayload[input.name] =  input.type == "checkbox"?input.checked:input.type=="file"?input.files[0]:input.value;
               
            });
    
            $.ajax({
                xhr: function() {
                    var xhr = new window.XMLHttpRequest();
    
            // Upload progress
                    xhr.upload.addEventListener("progress", function(evt){
                        if (evt.lengthComputable) {
                        var percentComplete = evt.loaded / evt.total;
                        //Do something with upload progress
                            console.log(evt.loaded,evt.total);
                            }
                    }, false);
    
           // Download progress
                    xhr.addEventListener("progress", function(evt){
                        if (evt.lengthComputable) {
                            var percentComplete = evt.loaded / evt.total;
                   // Do something with download progress
                            console.log(percentComplete);
                        }
                    }, false);
    
                        return xhr;
                },
                type: 'POST',
                processData:false,
                contentType:false,
                url: "/ASession/AddFile",
                data: payload,
                success: function(data){
                    data = JSON.parse(data);
                    console.log(data);
                    if(data.success){
                        unencodedPayload.type = 1;
                        unencodedPayload.cid = data.cid;
                        console.log("unencodedPayload ",unencodedPayload);
                        createContentCard(unencodedPayload);
                        cleanUpForm();
                        $('.modal-wrapper').removeClass("exposed");
                        $('.modal-bg').removeClass("exposed");
                    }else{
                        console.log(data.success);
                    }
                }
            });
        
          
    
        });
    
    
        $('.done-btn-fm').on('click',function(ev){
           var inputs =  $(this).closest('section').find('input[type="text"],input[type="checkbox"],input[type="file"],textarea');
    
            var payload = {}
            var unencodedPayload = {};
            Array.from(inputs).forEach( input => {
                payload[input.name] = encodeURIComponent( input.type == "checkbox"?input.checked:input.type=="file"?input.files:input.value);
                unencodedPayload[input.name] =  input.type == "checkbox"?input.checked:input.type=="file"?input.files:input.value;
               
            });
            $.ajax({type:"POST",
                url:"/Asession/AddClip",
                data:payload,
                success:function(data){
                    //data = JSON.parse(data);
                    console.log(data);
                    if(data.success){
                        unencodedPayload.type = 0;
                        unencodedPayload.cid = data.cid;
                      //  console.log("unencodedPayload ",unencodedPayload);
                        window["create"+data.type+"Card"](data);
                        $('.modal-wrapper').removeClass("exposed");
                        $('.modal-bg').removeClass("exposed");
                        
                    }else{
                        console.log(data.success);
                    }
                },error:function(details){
    
                }
            })
        });
    
        function Copy(element){
            console.log("Copying element ",{cid:$(element).attr('cid')});
            console.log($(element).parents('.flip-card-inner'))
            $(element).parents('.flip-card-inner').addClass('busy-card');
            $.ajax({
                type:'POST',
                url:"/Asession/GetClipContent",
                data:{cid:$(element).attr('cid')},
                success:function(response){
                    //response = JSON.parse(response);
                    if(response.success){
                        $(element).parents('.flip-card-inner').removeClass('busy-card');
                        var text = document.createElement('textarea');
                        text.style.position = 'static';
                        text.style.bottom = '-50px';
                        text.style.opacity = '0';
                        document.body.append(text);
                        text.value = decodeURIComponent(response.content);
                        text.select();
                        text.setSelectionRange(0, 99999); /*For mobile devices*/
                        document.execCommand("copy");
                        document.body.removeChild(text);
                        $(element).parents('.flip-card-inner').addClass('scs-card');
                        setTimeout(function(){ $(element).parents('.flip-card-inner').removeClass('scs-card');}.bind(element),3000);
                    }
                },
                error:function(details){
    
                }
            })
            
        }
        function Delete(element){
            console.log("Copying element ",{cid:$(element).attr('cid')});
            console.log($(element).parents('.flip-card-inner'))
            $(element).parents('.flip-card-inner').addClass('busy-card');
            $.ajax({
                type:'POST',
                url:"/Asession/DeleteContent",
                data:{cid:$(element).attr('cid')},
                success:function(response){
                    //response = JSON.parse(response);
                    if(response.success){
                        $(element).parents('.flip-card').remove();
                    }else{
                        $(element).parents('.flip-card-inner').removeClass('busy-card');
                        $(element).parents('.flip-card-inner').addClass('fail-card');
                        setTimeout(function(){ $(element).parents('.flip-card-inner').removeClass('fail-card');}.bind(element),3000);
                    }
                },
                error:function(details){
    
                }
            })
            
        }
    
        function CodeRequest(){
            return new Promise(function(resolve,reject){
                $.ajax({
                    type:'POST',
                    url:"/Asession/GetJoinCode",
                    success:function(response){
                        
                        if(response.success){
                            resolve(response.joincode);
                            
                        }else{
                            resolve("not available at this moment");
                        }
                    },
                    error:function(details){
                        reject(details);
                    }
                });
            });
        }
    
        function SignoutRequest(){
            return new Promise(function(resolve){
                $.ajax({
                    type:'POST',
                    url:"/Asession/Signout",
                    success:function(response){
                       // response = JSON.parse(response);

                        resolve(response);
                    },
                    error:function(details){
                        reject(details);
                    }
                })
            })
        }
        //window.createClipboardCard("rsr","sdf",$('.card-view')[0]);
    
        class CardContent{
            elementRef;
            type;
            constructor(elementRef,type){
              this.elementRef = elementRef;
            }
    
    
        }
    </script>
    
    <script class="startup">
      $(document).ready(function(){

            $.ajax({
                url:'/Asession/GetMetadata',
                type:'POST',
                xhrFields:{
                    withCredentials:true
                },
                success:function(data){
                    data.cards.forEach(card=>{
                        window["create"+card.type+"Card"](card);
                    });
                },
                error:function(){

                }

            })
  /*  
        foreach($model['content'] as $card){
                switch($card[2]){
                    case 0:{ %>
                        
                      window.createClipboardCard('.$card[0].',decodeURIComponent("'.$card[3].'"),decodeURIComponent("'.$card[4].'"),$(".card-view")[0]);';
                    }break;
                }
        }
    
       
    ?>*/
        $('.startup').remove();
      });
    </script>
    
    
    </html>